#root {
  overflow-x: hidden;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply bg-slate-100 dark:bg-gray-900 text-gray-900 dark:text-white 
}

.footer__bg {
  -webkit-mask-image: linear-gradient(to top, #000000 30%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to top, #000000 30%, transparent 100%);
  mask-repeat: no-repeat;
}

.bg_gradient{
  background: linear-gradient(90deg, rgba(255,143,38,1) 0%, rgb(151, 113, 233) 50%, rgba(0,255,222,1) 100%);
}
