#root {
  overflow-x: hidden;
  text-align: center;
  position: relative;
}

.footer__bg {
  -webkit-mask-image: linear-gradient(to top, #000000 60%, transparent 98%);
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to top, #000000 60%, transparent 98%);
  mask-repeat: no-repeat;
}
