@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Laila&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font1: "Inconsolata", monospace;
	--font2: "Laila", sans-serif;

	font-family: var(--font1), system-ui, sans-serif;

	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	text-decoration: inherit;
	color: rgb(136, 81, 255);
	text-decoration: underline;
}
a:hover{
	color: rgba(136, 81, 255, 0.8);
}
body {
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

#root {
  overflow-x: hidden;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply bg-slate-100 dark:bg-gray-900 text-gray-900 dark:text-white 
}

.footer__bg {
  -webkit-mask-image: linear-gradient(to top, #000000 30%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to top, #000000 30%, transparent 100%);
  mask-repeat: no-repeat;
}

.bg_gradient{
  background: linear-gradient(90deg, rgba(255,143,38,1) 0%, rgb(151, 113, 233) 50%, rgba(0,255,222,1) 100%);
}
